* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: #ffffff;
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
}

nav {
  align-items: center;
  background-color: black;
  color: #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7em;
  text-decoration: none;
  margin: 0;
}

nav a {
  color: #e1c8a3;
  margin: 1em;
  display: inline-block;
  text-decoration: none;
}

footer {
  align-items: center;
  background-color: black;
  color: #c0c0c0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7em;
  text-decoration: none;
  margin: 0;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.9em;
  border: 0px;
  color: black;
  text-decoration: none;
}

.product-list-item {
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 250px;
  margin: 0.6em;
  padding: 0.4em;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  max-width: 85vw;
  margin: 0 auto;
  margin-top: 20;
  border: 1px solid black;
}

.checkout-cart-container {
  display: grid;
  grid-column-gap: 10;
  grid-template-columns: 40% 30% 30%;
  width: 70%;
}

/* SINGLE PRODUCT STYLES */
.add-item-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

/* Chrome, Safari, Edge, Opera */
.add-item-container > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.add-item-container > input[type='number'] {
  -moz-appearance: textfield;
}
