* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f0f0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

div {
  margin: 0;
}

/**
* Site Header/ Nav/ Footer
*/

.siteHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #000000;
}

.siteHeader__section {
  display: flex;
  align-items: center;
}
.siteHeader__logo {
  padding: 0px 0px;
  font-size: 20px;
}
.siteHeader__logo a:link {
  color: #d9e9ef;
  text-decoration: none;
}
.siteHeader__logo a:visited {
  color: #d9e9ef;
}
.siteHeader__logo a:hover {
  color: #d9e9ef;
}
.siteHeader__logo a:active {
  color: #d9e9ef;
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 14px;
}

.siteHeader__item a:link {
  color: #d9e9ef;
  text-decoration: none;
}
.siteHeader__item a:visited {
  color: #d9e9ef;
}
.siteHeader__item a:hover {
  color: #d9e9ef;
}
.siteHeader__item a:active {
  color: #d9e9ef;
}

.siteHeaderButton {
  cursor: pointer;
  color: #d9e9ef;
}

.siteHeaderFooter {
  color: #d9e9ef;
}

/**
* END Site Header/ Nav/ Footer
*/

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.9em;
  border: 0px;
  color: black;
  text-decoration: none;
}

.product-list-item {
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 250px;
  margin: 0.6em;
  padding: 0.4em;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  max-width: 85vw;
  margin: 0 auto;
  margin-top: 20;
  border: 1px solid black;
}

.checkout-cart-container {
  display: grid;
  grid-column-gap: 10;
  grid-template-columns: 40% 30% 30%;
  width: 70%;
}

/* SINGLE PRODUCT STYLES */
.add-item-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

/* Chrome, Safari, Edge, Opera */
.add-item-container > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.add-item-container > input[type='number'] {
  -moz-appearance: textfield;
}

/* Cards Start */
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  color: #696969;
  padding: 0.5rem;
  font-size: 600;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn a:link,
a:visited,
a:hover,
a:active {
  color: #696969;
  text-decoration: none;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}
.cards__item a:link,
a:visited,
a:hover,
a:active {
  color: #696969;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #696969;
  text-decoration: none;
}

.card a:link,
a:visited,
a:hover,
a:active {
  color: #696969;
  text-decoration: none;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-decoration: none;
}

/* Cards End */
