* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0f0f0;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999999;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

div {
  margin: 0;
}

button {
  background-color: #b8860b;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
}

button:hover {
  background-color: #990000;
}

/**
* Site Header/ Nav/ Footer
*/

.siteHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #000000;
}

.siteHeader__section {
  display: flex;
  align-items: center;
  background-color: #000000;
}
.siteHeader__logo {
  padding: 0px 0px;
  font-size: 20px;
  background-color: #000000;
}
.siteHeader__logo a:link {
  color: #d9e9ef;
  text-decoration: none;
  background-color: #000000;
}
.siteHeader__logo a:visited {
  color: #d9e9ef;
  background-color: #000000;
}
.siteHeader__logo a:hover {
  color: #d9e9ef;
  background-color: #000000;
}
.siteHeader__logo a:active {
  color: #d9e9ef;
  background-color: #000000;
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 14px;
  background-color: #000000;
}

.siteHeader__item a:link {
  color: #d9e9ef;
  text-decoration: none;
  background-color: #000000;
}
.siteHeader__item a:visited {
  color: #d9e9ef;
  background-color: #000000;
}
.siteHeader__item a:hover {
  color: #d9e9ef;
  background-color: #000000;
}
.siteHeader__item a:active {
  color: #d9e9ef;
  background-color: #000000;
}

.siteHeaderButton {
  cursor: pointer;
  color: #d9e9ef;
}

.siteHeaderFooter {
  color: #d9e9ef;
}

/**
* END Site Header/ Nav/ Footer
*/

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.9em;
  border: 0px;
  color: black;
  text-decoration: none;
}

.product-list-item {
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 250px;
  margin: 0.6em;
  padding: 0.4em;
}

.checkout-container {
  display: grid;
  grid-template-columns: 65% 35%;
  border: 2px solid gray;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20;
  border: 1px solid black;
}

.checkout-cart-container {
  display: grid;
  grid-column-gap: 10;
  grid-template-columns: 40% 30% 30%;
  width: 70%;
}

/* SINGLE PRODUCT STYLES */
.add-item-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

/* ORDER CONFIRMATION STYLES */

.order-confirmation-error-message {
  color: red;
}

.order-summary-line {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

/* Cards Start */
.card_btn {
  background-color: black;
  border: 1px solid black;
  border-radius: 1rem;
  color: #cccccc;
  padding: 0.8rem;
  font-size: 400;
}

.card_btn--block {
  display: block;
  width: 100%;
  cursor: pointer;
}

.card_btn a:link {
  background-color: #696969;
  text-decoration: none;
}

.card_btn a:hover {
  background-color: #696969;
  text-decoration: none;
}

.card_btn a:active {
  background-color: #696969;
  text-decoration: none;
}

.card_btn a:visited {
  background-color: #696969;
  text-decoration: none;
}

.card_btn.focus,
.card_btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.cards__item {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  min-height: 500px;
  max-height: 500px;
  min-width: 400px;
  max-width: 400px;
}

.card__item a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  color: #696969;
  text-decoration: none;
}

.card__image {
  overflow: hidden;
}

.card__content {
  display: flex;
  /* flex: 1 1 auto; */
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 1rem;
}

.card__content a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__title a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-decoration: none;
}

.card__text a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* Cards Multiple Product Page End */

/* Card Single Product Page */
.cardsi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40rem) {
  .cardsi__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cardsi__item {
    width: 33.3333%;
  }
}

.cardsi__item {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  max-width: 600px;
}

.cardi {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  color: #696969;
  text-decoration: none;
}

.cardi__item a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.cardi__image {
  overflow: hidden;
}

.cardi__content {
  display: flex;
  /* flex: 1 1 auto; */
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 1rem;
}

.cardi__content a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.cardi__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.cardi__title a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.cardi__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-decoration: none;
}

.cardi__text a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

.cardi_btn {
  background-color: black;
  border: 1px solid black;
  border-radius: 1rem;
  color: #cccccc;
  padding: 0.8rem;
  font-size: 400;
}

.cardi_btn--block {
  display: block;
  width: 100%;
  cursor: pointer;
}

.cardi_btn a:link {
  background-color: #696969;
  text-decoration: none;
}

.cardi_btn a:hover {
  background-color: #696969;
  text-decoration: none;
}

.cardi_btn a:active {
  background-color: #696969;
  text-decoration: none;
}

.cardi_btn a:visited {
  background-color: #696969;
  text-decoration: none;
}

.cardi_btn.focus,
.cardi_btn:focus {
  outline: 0;
  box-shadow: none !important;
}

/* Cards Single Product Ends */

/* Pagination */

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Pagination Ends */
